/* GENERAL */

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: #e2e8f0;
    display: flex;
    flex-direction: column;
    color: #0f172a;
}

main {
    padding-top: 4rem;
}

header {
    padding: 1rem 2rem;
}

h1 {
    text-align: center;
    font-size: 5rem;
    cursor: default;
    user-select: none;
    margin: 0;
}

p {
    text-align: center;
}

/*START SCREEN*/

.container--main--sc {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    font-size: 2.5rem;
}

.players {
    display: grid;
    grid-template-columns: 1fr auto;
}

label {
    margin-right: .35rem;
}

span::before {
    content: "- ";
}

.o-mark::before {
    margin-left: .45rem;
}


input {
    font-size: 2.3rem;

    background-color: #e2e8f0;
    border: none;
    border-bottom: 2px solid #64748b;
    color: #0f172a;
}

input::placeholder {
    color: #64748b;
}

input:focus {
    outline: none;
}

button {
    font-size: 1.75rem;
    padding: 1rem 2rem;
    border-radius: 50px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
    background-color: #cbd5e1;
    transition: 400ms;
}

button:hover {
    background-color: #94a3b8;
}

/* GAME SCREEN */

.container--main--gs {
    border: solid #0f172a 3px;
    border-radius: 25px;

    max-width: fit-content;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.turn-screen {
    font-size: 1.5rem;
    font-weight: 600;
}

.name-column {
    font-size: 1.1rem;
    font-weight: 600;
}

.game-screen {
    display: flex;
    gap: .7rem;
}

.board {
    border: solid #0f172a 1px;
    width: clamp(350px, 500px, 1000px);
    height: clamp(350px, 500px, 1000px);

    background-color: #0f172a;
}

td {
    border: solid #0f172a 1px;
    font-size: 5rem;
    text-align: center;

    width: 33.333%;
    height: 33.333%;

    cursor: pointer;
    transition: 400ms;
    background-color: hsl(214, 32%, 91%);
    user-select: none;
}

td:hover {
    background-color: hsl(214, 32%, 80%);
    transition: 0ms;
}

td:active {
    background-color: hsl(214, 32%, 70%);
}
